@model ILookup<GroupTeam, GroupUser>
@{
    Layout = "/Areas/Account/Views/Profile/_Layout.cshtml";
    ViewData["Title"] = "Teams";
    IUser user = ViewBag.User;
    ViewData["ActiveAction"] = "TrainingTeams";
}

<h4>Training teams</h4>
<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
@{ TempData["StatusMessage"] = null; }

<table class="data-table table table-striped table-sm mt-3">
    <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">members</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="2">No data available.</td>
            </tr>
        }
        else
        {
            foreach (var team in Model)
            {
                <tr>
                    <td style="vertical-align:middle;padding-top:1.5em;padding-bottom:1.5em">
                        <a asp-action="Detail" asp-route-teamid="@team.Key.Id" style="vertical-align:middle;">@team.Key.TeamName</a>
                    </td>
                    <td style="vertical-align:middle;">
                        @foreach (var u in team)
                        {
                            <a asp-area="Account" asp-controller="Profile" asp-action="Show" asp-route-username="@u.UserName">
                                @u.UserName
                                <razor asp-show-if="u.UserId == team.Key.UserId">(Owner)</razor>
                                <razor asp-show-if="!u.Accepted.HasValue">(Inviting)</razor>
                                <razor asp-show-if="u.Accepted == false">(Rejected)</razor>
                            </a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<p class="mt-3 mb-0">
    <a asp-action="Create" data-toggle="ajaxWindow" data-target="createTeam" class="btn btn-primary">Create a team</a>
</p>
